<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      throwConfigExceptions="false"
      internalLogLevel="Off" internalLogFile="${basedir}/Logs/nlog-internal.log">
  <!-- 
  autoReload: NLog.config 修改後自動更新，省去重啟程序
  throwExceptions、throwConfigExceptions: 開發時設為 true 以找出問題、上線時設為 false 避免影響線上
  internalLogLevel="Debug": 可看到更多 NLog 運作資訊，路徑於 internalLogFile
  -->

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="log-file-root" value="${basedir}/Logs/"/>
  <!--<variable name="log-archive-root" value="${log-file-root}/Archives/"/>-->
  <variable name="log-file-path" value="${shortdate}/${level:uppercase=true}/"/>
  <variable name="log-file-name" value="${aspnet-mvc-controller}.${aspnet-mvc-action}.log"/>
  <!--<variable name="log-archive-name" value="${aspnet-mvc-controller}.${aspnet-mvc-action}.{#}.log"/>-->
  <variable name="log-csv-name" value="log.csv"/>

  <!--
  the targets to write to
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->

    <!--
    Write events to a file with the date in the filename.
    <target name="f" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} | ${uppercase:${level}} | ${message} | ${exception:format=tostring}" />
    -->

    <!--<target name="logconsole" xsi:type="Console" />-->

    <!--<target name="logelmah" xsi:type="Elmah" LogLevelAsType="true" />-->

    <target name="logfile" xsi:type="File" encoding="UTF-8"
        fileName="${log-file-root}${log-file-path}${log-file-name}"
        layout="${longdate} | ${level:uppercase=true} | ${logger} | ${aspnet-mvc-controller}.${aspnet-mvc-action} | ${newline}${when:when='${message}' != '':inner=【Message】${message} ${newline}}${when:when='${exception:format=tostring}' != '':inner=【Exception】${exception:format=tostring} ${newline}}" />
    <!--archiveFileName="${log-archive-root}${log-file-path}${log-archive-name}"
        archiveEvery="Day" maxArchiveDays="1" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd" />-->

    <target name="logcsv" xsi:type="File"
            fileName="${log-file-root}${log-csv-name}">
      <layout xsi:type="CsvLayout">
        <column name="time" layout="${longdate}" />
        <column name="level" layout="${level:uppercase=true}" />
        <column name="logger" layout="${logger}" />
        <column name="controller" layout="${aspnet-mvc-controller}" />
        <column name="action" layout="${aspnet-mvc-action}" />
        <column name="message" layout="${message}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!-- add your logging rules here -->

    <!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->

    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>
